* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background: #f0fff3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coupon-card {
  background: linear-gradient(135deg, #77ba99, #5b8f7c);
  color: #fff;
  text-align: center;
  padding: 40px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  width: 550px;
  position: relative;
}
.logo {
  width: 15%;
  border-radius: 10px;
  margin-top: -70px;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.coupon-card h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.25;
}
.coupon-card p {
  font-size: 15px;
}
.coupon-row {
  display: flex;
  align-items: center;
  margin: 25px auto;
  width: fit-content;
}
#cpnCode {
  border: 1px dashed #fff;
  padding: 10px 20px;
  border-right: 0;
}
#cpnBtn {
  border: 1px solid #fff;
  background: #fff;
  padding: 10px 15px;
  color: #5b8f7c;
  cursor: pointer;
}
.circle1,
.circle2 {
  background: #f0fff3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.circle1 {
  left: -25px;
}
.circle2 {
  right: -25px;
}

/* Mobile Responsive  */
@media screen and (max-width: 600px) {
  .coupon-card {
    padding: 15px 50px;
    width: 350px;
  }
  .logo {
    width: 30%;
    margin-top: -50px;
  }
  .coupon-card h3 {
    font-size: 20px;
    line-height: 1.3;
  }
  .coupon-card p {
    margin-bottom: 10px;
  }
  #cpnCode {
    font-size: 12px;
    padding: 10px 12px;
  }
  #cpnBtn {
    font-size: 12px;
    padding: 10px 12px;
  }
}
